In [1]:
import pandas as pd

In [2]:
import pandas_datareader as pdr

In [3]:
import datetime

In [4]:
aapl = pdr.get_data_yahoo('AAPL', start = datetime.datetime(2008,1,1), end=datetime.datetime(2012,1,1))

In [5]:
aapl.describe()

,High,Low,Open,Close,Volume,Adj Close
count,1009.000000,1009.000000,1009.000000,1009.000000,1.009000e+03,1009.000000
mean,32.966387,32.165195,32.593259,32.582081,1.745092e+08,28.434813
std,14.036380,13.917965,13.986114,13.982855,9.873808e+07,12.203022
min,11.714286,11.171429,11.341429,11.171429,3.937360e+07,9.749454
25%,20.815714,20.257143,20.544285,20.534286,1.066583e+08,17.920544
50%,29.230000,28.542856,28.905714,28.871429,1.483909e+08,25.196476
75%,46.542858,45.931427,46.428570,46.382858,2.126635e+08,40.478931
max,60.957142,59.427143,60.251427,60.320000,8.432424e+08,52.642063

In [6]:
aapl.to_csv('aapl_02_04.csv')

In [7]:
download_aapl = "02_04CSV.csv"

In [8]:
aapl['Change'] = aapl.Open - aapl.Close

In [9]:
aapl['Pct_Chg'] = aapl.Change/aapl.Open

In [10]:
pip install matplotlib

Requirement already satisfied: matplotlib in /miniconda3/lib/python3.7/site-packages (3.1.1)
Requirement already satisfied: numpy>=1.11 in /miniconda3/lib/python3.7/site-packages (from matplotlib) (1.17.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /miniconda3/lib/python3.7/site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /miniconda3/lib/python3.7/site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: cycler>=0.10 in /miniconda3/lib/python3.7/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /miniconda3/lib/python3.7/site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: six>=1.5 in /miniconda3/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in /miniconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (41.0.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import matplotlib as plt

In [12]:
aapl['Pct_Chg'].plot(grid=True)

## Chapter 2.6

In [14]:
def get(tickers, startDate, endDate):
    def data(ticker):
        return pdr.get_data_yahoo(ticker, start = startDate, end = endDate)
    datas = map(data,tickers)
    return(pd.concat(datas, keys=tickers, names=['Ticker','Date']))
tickers=['MSFT', 'CRM', 'GE', 'MMM']
all_data = get(tickers, datetime.datetime(2015,1,1), datetime.datetime(2019,1,1))

In [15]:
all_data

                         High         Low        Open       Close      Volume  \
Ticker Date
MSFT   2015-01-02   47.419998   46.540001   46.660000   46.759998  27913900.0
       2015-01-05   46.730000   46.250000   46.369999   46.330002  39673900.0
       2015-01-06   46.750000   45.540001   46.380001   45.650002  36447900.0
       2015-01-07   46.459999   45.490002   45.980000   46.230000  29114100.0
       2015-01-08   47.750000   46.720001   46.750000   47.590000  29645200.0
...                       ...         ...         ...         ...         ...
MMM    2018-12-24  183.539993  178.509995  181.889999  178.619995   2249500.0
       2018-12-26  186.330002  176.869995  179.380005  186.259995   2925500.0
       2018-12-27  190.699997  182.880005  183.500000  190.699997   2809000.0
       2018-12-28  192.300003  188.570007  191.809998  189.369995   2311400.0
       2018-12-31  191.649994  188.500000  190.339996  190.539993   1804400.0

                    Adj Close
Ticker Date
MSFT   2015-01-02   42.122040
       2015-01-05   41.734680
       2015-01-06   41.122128
       2015-01-07   41.644604
       2015-01-08   42.869705
...                       ...
MMM    2018-12-24  174.293747
       2018-12-26  181.748703
       2018-12-27  186.081161
       2018-12-28  184.783386
       2018-12-31  185.925049

[4024 rows x 6 columns]

In [ ]:
all