In [1]:
import pandas as pd

In [2]:
import pandas_datareader as pdr

In [3]:
import datetime

In [4]:
aapl = pdr.get_data_yahoo('AAPL', start = datetime.datetime(2008,1,1), end=datetime.datetime(2012,1,1))

In [6]:
aapl.describe()

,High,Low,Open,Close,Volume,Adj Close
count,1009.000000,1009.000000,1009.000000,1009.000000,1.009000e+03,1009.000000
mean,32.966387,32.165195,32.593259,32.582081,1.745092e+08,28.434813
std,14.036380,13.917965,13.986114,13.982855,9.873808e+07,12.203022
min,11.714286,11.171429,11.341429,11.171429,3.937360e+07,9.749454
25%,20.815714,20.257143,20.544285,20.534286,1.066583e+08,17.920544
50%,29.230000,28.542856,28.905714,28.871429,1.483909e+08,25.196476
75%,46.542858,45.931427,46.428570,46.382858,2.126635e+08,40.478931
max,60.957142,59.427143,60.251427,60.320000,8.432424e+08,52.642063

In [7]:
aapl.to_csv('aapl_02_04.csv')

In [8]:
download_aapl = "02_04CSV.csv"